@import url('https://fonts.googleapis.comcss?family=Cantata+One|Titillium+Web');

body 
{
	background-color: #fde8d2;
	text-align: center;
}

h1
{
	font-family: 'Cantata One', serif	
}
p
{
	font-family: 'Titillium Web', sans-serif
}

ul 
{
	text-align: centre;
	list-style-type: none;
}